-
  const categoriesItems = [
    {
      title: 'Брюки',
      icon: './img/products/cat_01.svg',
      products: [
        {
          title: 'Все необходимые материалы курса «Брюки»',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '20 000₽ ',
          priceNote: '',
          image: './img/products/01.png'
        },
        {
          title: 'Лекало',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/02.png'
        },
        {
          title: 'Наперсток',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за шт',
          image: './img/products/03.png'
        },
        {
          title: 'Нитки',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/01.png'
        },
        {
          title: 'Бортовка',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/04.png'
        },
        {
          title: 'Карманка',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/01.png'
        },
        {
          title: 'Подкладка',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '20 000₽ ',
          priceNote: 'Цена за шт',
          image: './img/products/02.png'
        },
        {
          title: 'Иглы англ.',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '20 000₽ ',
          priceNote: 'Цена за шт',
          image: './img/products/03.png'
        }
      ]
    },
    {
      title: 'Пиджак',
      icon: './img/products/cat_02.svg',
      products: [
        {
          title: 'Все необходимые материалы курса «Брюки»',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '20 000₽ ',
          priceNote: '',
          image: './img/products/01.png'
        },
        {
          title: 'Лекало',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/02.png'
        },
        {
          title: 'Наперсток',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за шт',
          image: './img/products/03.png'
        },
        {
          title: 'Нитки',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/04.png'
        },
        {
          title: 'Бортовка',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/01.png'
        },
        {
          title: 'Карманка',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/02.png'
        },
        {
          title: 'Подкладка',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '20 000₽ ',
          priceNote: 'Цена за шт',
          image: './img/products/03.png'
        },
        {
          title: 'Иглы англ.',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '20 000₽ ',
          priceNote: 'Цена за шт',
          image: './img/products/04.png'
        }
      ]
    },
    {
      title: 'Жилет',
      icon: './img/products/cat_03.svg',
      products: [
        {
          title: 'Все необходимые материалы курса «Брюки»',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '20 000₽ ',
          priceNote: '',
          image: './img/products/01.png'
        },
        {
          title: 'Лекало',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/02.png'
        },
        {
          title: 'Наперсток',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за шт',
          image: './img/products/03.png'
        },
        {
          title: 'Нитки',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/04.png'
        },
        {
          title: 'Бортовка',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/01.png'
        },
        {
          title: 'Карманка',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/02.png'
        },
        {
          title: 'Подкладка',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '20 000₽ ',
          priceNote: 'Цена за шт',
          image: './img/products/03.png'
        },
        {
          title: 'Иглы англ.',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '20 000₽ ',
          priceNote: 'Цена за шт',
          image: './img/products/04.png'
        }
      ]
    },
    {
      title: 'Пальто',
      icon: './img/products/cat_04.svg',
      products: [
        {
          title: 'Все необходимые материалы курса «Брюки»',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '20 000₽ ',
          priceNote: '',
          image: './img/products/01.png'
        },
        {
          title: 'Лекало',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/02.png'
        },
        {
          title: 'Наперсток',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за шт',
          image: './img/products/03.png'
        },
        {
          title: 'Нитки',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/04.png'
        },
        {
          title: 'Бортовка',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/01.png'
        },
        {
          title: 'Карманка',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/02.png'
        },
        {
          title: 'Подкладка',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '20 000₽ ',
          priceNote: 'Цена за шт',
          image: './img/products/03.png'
        },
        {
          title: 'Иглы англ.',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '20 000₽ ',
          priceNote: 'Цена за шт',
          image: './img/products/04.png'
        }
      ]
    },
    {
      title: 'Сорочки',
      icon: './img/products/cat_05.svg',
      products: [
        {
          title: 'Все необходимые материалы курса «Брюки»',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '20 000₽ ',
          priceNote: '',
          image: './img/products/01.png'
        },
        {
          title: 'Лекало',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/02.png'
        },
        {
          title: 'Наперсток',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за шт',
          image: './img/products/03.png'
        },
        {
          title: 'Нитки',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/04.png'
        },
        {
          title: 'Бортовка',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/01.png'
        },
        {
          title: 'Карманка',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '1000₽ ',
          priceNote: 'Цена за погонный метр',
          image: './img/products/02.png'
        },
        {
          title: 'Подкладка',
          description: 'Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.',
          price: '20 000₽ ',
          priceNote: 'Цена за шт',
          image: './img/products/03.png'
        }
      ]
    }
  ]

section.s-store
  .l-default
    .s-store__top
      .minicart
        .minicart__headline
          .minicart__title Корзина
          .minicart__icon
            +svgMono("shopping-cart")
            span 5
        .minicart__wrapper
          .minicart__item
            .minicart__item-photo
              img(src="./img/s-store/01.png", alt="")
            .minicart__item-info
              .minicart__item-title Наперсток
              .minicart__item-price 1000₽ за 1 шт
          .minicart__item
            .minicart__item-photo
              img(src="./img/s-store/02.png", alt="")
            .minicart__item-info
              .minicart__item-title Наперсток
              .minicart__item-price 1000₽ за 1 шт
          .minicart__item
            .minicart__item-photo
              img(src="./img/s-store/03.png", alt="")
            .minicart__item-info
              .minicart__item-title Наперсток
              .minicart__item-price 1000₽ за 1 шт

    h1.page__title.a-font_h1= title
    .page__introtext.a-font_text Необходимые материалы для выполнения при прохождении курсов Bespoke Academy
    .s-store__tabs
      .s-store__tabs-list(role='tablist' aria-label='')
        each tab, index in categoriesItems
          if index == 0
            button.s-store__tabs-item(id='tab_' + index  role='tab' aria-selected='true')
              img(src!= tab.icon, alt!= tab.title)
              span!= tab.title
          else
            button.s-store__tabs-item(id='tab_' + index  role='tab' aria-selected='false')
              img(src!= tab.icon, alt!= tab.title)
              span!= tab.title
      .s-store__tabs-content
        each tab, index in categoriesItems
          if index == 0
            .s-store__tabs-panel(role='tabpanel' aria-labelledby='tab_' + index)
              h2.section__title.a-font_h2!= 'Необходимые материалы для курса ' + tab.title
              .s-store__items
                each card in tab.products
                  +m_product(card.title, card.description, card.image, card.price, card.priceNote)
          else
            .s-store__tabs-panel(role='tabpanel' aria-labelledby='tab_' + index hidden)
              h2.section__title.a-font_h2!= 'Необходимые материалы для курса ' + tab.title
              .s-store__items
                each card in tab.products
                  +m_product(card.title, card.description, card.image, card.price, card.priceNote)